.slider {
  position: relative;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.image {
  width: 850px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 8px 18px rgba(22, 163, 74, 0.478);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(22 163 74);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(22 163 74);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
