/* Custom styling for the slider */
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  display: none;
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  display: block;
  box-shadow: 3px 3px 5px black;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  font-size: 24px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  left: 32px;
}

.right-arrow {
  right: 32px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .left-arrow,
  .right-arrow {
    font-size: 40px;
  }

  .image {
    height: 400px;
  }
}
